body {
    margin: 0;
    background-color: black;
}

#header-logo {
    background-color: #212425;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
}

#logo-text {
    width: 85%;
    float: left;
}

#text-logo {
    margin-top: 7px;
    margin-left: 2%;
    font-size: 20px;
    color: white;
    font-family: Arial;
}

#button-buy {
    background-color: #0074c2;
    width: 15%;
    float: left;
}

#text-btn-buy {
    text-align: center;
    color: white;
    font-family: Arial;
}

#header-menu {
    background-color: #17191a;
    height: 40px;
    /*float: left;*/
    width: 100%;
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 999999;
}

#ul-header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-header-menu {
    float: left;
}

.a-header-menu {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
}

#content-1 {
    background-color: black;
    /*position: relative;*/
    width: 100%;
    height: auto;

}
#text-title-content-1{
    height: 500px;
}
#text-title-ctn-1 {
    margin-top: 0;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
    padding-top: 100px;
    margin-bottom: 30px;
    height: auto;
}

.text-detail-ctn-1 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial;
    margin: 0;
    height: auto;
}

#video-design-1 {
    position: relative;
}

#design-icon-line {
    top: 500px;
    position: absolute;
}

#design-icon-line {
    margin: 50px 30%;
    /*background-color: black;*/
    width: 40%;
    display: flex;
}

.design-icon-block {
    float: left;
    flex: 1;
}

.design-icon {
    text-align: center;
}

.design-icon img {
    width: 56px;
    height: auto;
}

.design-text-icon {
    color: white;
    font-size: 14px;
    text-align: center;
    font-family: Arial;
    margin: 0 12%;
}

#text-detail-content-1 {
    top: 1300px;
    /*position: absolute;*/
    color: white;
    text-align: center;
    width: 100%;
}

.text-detail-ctn-2 {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial;
    margin: 0;
}

#clear-text-detail-content-1 {
    margin-bottom: 30px;
    width: 100%;
}

.text-detail-ctn-3 {
    font-size: 16px;
    font-family: Arial;
    margin: 0;
}
#clear-content-1 {
     margin-top: 50px;
     width: 100%;

 }
#content-4 {
    width: 100%;
    height: auto;
    background-color: white;
}
#text-title-content-4 {
    text-transform: uppercase;
    color: black;
    font-family: Arial;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

#img-content-4 {
    background-color: white;
    width: 70%;
    margin: 0 15%;

}